In [2]:
import pandas as pd
import numpy as np

## Series (one dimension)
## Data Frames (multi dimension)

In [4]:
data = {
    'name': ['Ali', 'Ahmed', 'Umair'],
    'age': [16,18,19]
} # adding key value pairs in a dictionary

In [5]:
data

{'name': ['Ali', 'Ahmed', 'Umair'], 'age': [16, 18, 19]}

In [7]:
df = pd.DataFrame(data) # converting a dictionary in to a dataframe

In [8]:
print(df)

    name  age
0    Ali   16
1  Ahmed   18
2  Umair   19

In [25]:
df = pd.DataFrame(data, index = ['a','b','c']) # fancy indexing
print(df)

    name  age
a    Ali   16
b  Ahmed   18
c  Umair   19

In [10]:
df.loc['b']

name    Ahmed
age        18
Name: b, dtype: object

In [11]:
df.to_csv('abc.csv')

In [16]:
 df1 = pd.read_csv('abc.csv', index_col=0)

In [17]:
print(df1)

    name  age
a    Ali   16
b  Ahmed   18
c  Umair   19

In [23]:
df = pd.DataFrame(np.random.randint(0,100 , size = (10,3)))

In [24]:
df

    0   1   2
0  36  80  75
1  28  34  86
2  72   4  31
3  21  45  76
4  48  66  15
5  40  42  51
6  18  26  45
7  40  28  64
8  53  80  52
9   4  45  50